<div class="formcontainer">
  <%= simple_form_for @restaurant do |f| %>
    <div class="mdl-textfield mdl-js-textfield" id="#formwrapper">
      <%= f.input :name, label: "Restaurant Name", required: true, input_html: {class: "mdl-textfield__input"} %><br>
      <%= f.input :cuisine, label: "Cuisine?", required: true, as: :select, collection: ["Greek", "Italian", "American", "Cajun", "Canadian", "Chinese", "Japanese", "Vietnamese", "Indian", "Thai", "French", "Belgian", "Circus Clown", "Postal Service"], input_html: {class: "mdl-textfield__input"} %><br>
      <%= f.input :placeId, label: "Google Maps PlaceId?", required: true, input_html: {class: "mdl-textfield__input"} %><br>
      <div class="form-button-wrapper">
        <button type="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Create Restaurant
        </button>
      </div>
    </div>
  <% end %>
</div>
