<div class="textcontainer">
  <h1>About Dishes in Montrose</h1>
  <p>This app was born from my dream to search for food in a way that satisifies your cravings for particular ingredients. The addition of filtering based on ingredients allows you to locate trendy ingredients, exclude ingredients you hate, and discover new ingredietns you didn't know existed.</p>

  <h1>How to Search for Dishes</h1>
  <p>Add an exclamation point to your search query to exclude an ingredient. Example searches include "!almonds" which will return all dishes without almonds, or "!wheat mushrooms" for all dishes wihtout wheat but with mushrooms.</p>
</div>
