@import "_normalize.scss";
@import "_flipcards.scss";
@import "_forms.scss";

$background-color: white;
$emphasis-color: #448AFF;
$emphasis-text: white;
$normal-text:black;
$title-color:#424242;
$border-color:#626262;

.mdl-layout__header-row {
  align-items: center;
}

.user-greeting {
  color:$emphasis-text;
}

.body-wrapper {
  margin:10px;
  padding:10px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mdl-navigation__link {
  text-transform:uppercase;
}

div.mdl-tooltip {
  font-size:14px;
  padding:12px;
}

.alert-info, .alert-danger {
  width:100%;
  text-align: center;
  font-weight:bold;
  border-bottom:1px solid $border-color;
  padding:4px;
}

.alert-info {
  background-color:$emphasis-color;
  color:$emphasis-text;
}

.alert-danger {
  background-color:WhiteSmoke;
  color:red;
}

#nav-search-bar {
  width: 200px;
}

.searchwrapper {
  padding-left: 10px;
}

footer.mdl-mini-footer {
  padding: 12px 16px;
}

.textcontainer {
  padding-left:10vw;
  padding-right:10vw;
}
