@import "_normalize.scss";
@import "_flipcards.scss";
@import "_forms.scss";

$background-color: white;
$emphasis-color: #448AFF;
$emphasis-text: white;
$normal-text:black;
$title-color:#424242;

.user-greeting {
  color:$emphasis-text;
}

.body-wrapper {
  margin:10px;
  padding:10px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mdl-navigation__link {
  text-transform:uppercase;
}

div.mdl-tooltip {
  font-size:14px;
  padding:12px;
}
